@keyframes a {
  0% {
    transform: scale(1.0) rotate(0deg);
  } 100% {
    transform: scale(1.5) rotate(360deg);
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.jumbotron {
  background-color: #505050;
}

.table td:nth-child(1) {
  color: chartreuse;
  font-weight: 900;
  text-align: left;
}

.table td:nth-child(3) {
  color: aqua;
}

.carousel-item {
  max-height: 100% !important;
  overflow: auto !important;
}

.effect-a:hover {
  background-color: rgba(80, 80, 80, 1.0) !important;
  cursor: pointer
}

.effect-b:hover {
  animation-name: a;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  cursor: pointer;
}

.navbar-brand {
  color: #ffffff !important;
}

.form-control {
  border: none;
  border-bottom: 3px solid #a0a0a0;
}

.nav-item a {
  color: #ffffff !important;
}

.forms {
  box-shadow: 5px 5px 10px black;
  border-radius: 10px;
  margin: 25px auto;
  padding: 10px;
  width: 500px;
}

.page-item {
  width: 43px;
}

@media screen and (max-width: 768px) {
  .forms {
    box-sizing: border-box;
    margin: 25px 0;
    width: 100%;
  }
  .jumbotron h1.display-1 {
    font-size: 1.5em;
  }

  .jumbotron h1.text-danger {
    font-size: 1.25em;
  }

  .table td {
    font-size: 0.75em !important;
  }
}

